/* --- Banner Genres --- */

#banner__genres {
    height: auto;
    width: 100%;
    display: flex;
    padding: .5rem 0;
    overflow-x: auto;
}

.banner__genre {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
    padding: .5rem;
    margin-right: 10px;
    border: 1px solid #FFF;
    border-radius: 15px;
}

.banner__genre:hover {
    text-shadow: 0 0 15px #EDEDED;
}

.banner__genre > span {
    letter-spacing: 1.5px;
}

/* --- Main --- */

#trailer__video--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trailer__video {
    height: 400px;
    width: 40rem;
    margin: 1.5rem 0;
}


#form__submit {
    position: absolute;
    top: 6px;
    left: -45px;
    transition: .3s;
    background-color: transparent;
}