/* --- Header --- */

#header__page {
    background-color: transparent;
}

/* --- Search --- */

#search { background-color: transparent; }

/* --- Banner --- */

#banner {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 50px 100px 0px 100px;
    overflow: hidden;
    transition: .3s;
    background-color: transparent;
    z-index: 3;
}

/* === Banner Image === */

#banner > img {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

/* === Banner Information  === */

#banner__user {
    height: 30vh;
    width: 70rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem 0;
    border-radius: 15px 15px 0 0;
    background-color: #2C3333;
}

#user__icon {
    display: flex;
    justify-content: center;
}

#user__icon > img {
    height: 150px;
    width: 150px;
    border: 3px solid #D3AD7F;
    border-radius: 50%;
}

#info__nickname {
    font-weight: 400;
}

#info__situation--wrapper {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

#situation__circle {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: greenyellow;
}

#user__control {
    display: flex;
    justify-content: center;
}

#control__button {
    display: flex;
    background-color: transparent;
}

#control__button:hover > span {
    color: #ED3E18;
}

#button__text {
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .5s;
    margin-left: 15px;
}

#button__text::before {
    height: 3px;
    width: 0;
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    border-radius: 10px;
    transition: .5s ease;
    background-color: #ED3E18;
}

#button__text:hover::before {
    width: 100%;
}

/* --- Main (Content) --- */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
}

#lists {
    height: auto;
    width: 70rem;
    padding: 0 2rem;
    margin: 0 .5rem;
    margin-bottom: 2rem;
    border-radius: 0 0 15px 15px;
    background-color: #2C3333;
}

.lists__user {
    margin: 2rem 0;
}

.lists__tabs {
    width: auto;
    display: flex;
    align-items: center;
}

.lists__tab {
    font-size: 1em;
    margin-right: 20px;
    padding: .2rem .5rem;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, .5);
}

.section__list {
    height: auto;
    width: 100%;
    display: flex;
    transition: .3s all;
    overflow: hidden;
    border-radius: 0px 15px 15px 15px;
    background-color: #000;
}

.list__item {
    position: relative;
    height: auto;
    width: 0%;
    display: grid;
    transition: all .2s;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    overflow: hidden;
}

.section__card:hover > .card__information {
    transition: 0s !important;
}

.form__delete {
    position: absolute;
    right: -35px;
    width: 5rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-radius: 0 15px 15px 0;
    background-color: #FF0000;
    box-shadow: #B22222 6px 2px 16px 0px, #A52A2A;
    z-index: -999;
}

.delete__link {
    position: absolute;
    right: 0;
}

/* --- JS Events --- */

.lists__tab.selected {
    background-color: #000;
}

.list__item.expand {
    width: 100%;
}

/* --- Icons --- */

.fa-right-from-bracket {
    font-size: 2em;
    color: #ED3E18;
}

.fa-trash-can {
    transition: .3s ease;
    font-size: 1em;
    color: #FFF;
}

.fa-trash-can:hover {
    font-size: 1.2em;
}